---

import Layout from "../layouts/Layout.astro";

---

<Layout title="80-летие Победы в Великой Отечественной войне" description="80-летие Победы в Великой Отечественной войне">
<main>
  <section class="victory">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs">
            <ul>
              <li><a href="/">Главная</a></li>
              <li><a class="active" href="/80-let-pobedy">80 лет Победы</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="title">
            <h1>80 лет Победы</h1>
          </div>
        </div>
      </div>
      <div class="row victory_content">
        <div class="col-12">
          <div class="victory_story">
            <div class="row">
              <div class="col-12">
                <div class="story_title">
                  <h4>Любовь Орлова</h4>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="story_img">
                  <img src="/img/victory/orlova.jpg" alt="">
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="story_text">
                  <p>В рамках нашей рубрики, приуроченной к 80-летию Победы, мы хотим обратить внимание на важную, но зачастую недооцененную сторону Великой Отечественной войны — благотворительность.</p>
                  <p>Во время войны благотворительность играла ключевую роль в поддержке фронта и помощи страдающему населению. Ярким примером является деятельность советской актрисы и певицы Любови Орловой, которая активно выступала для солдат, поднимала их моральный дух и собирала средства для армии и раненых. Она организовывала благотворительные концерты, на которых собирались деньги на медицинское оборудование, военную форму и продовольствие для фронтовиков. </p>
                  <p>Одним из самых запоминающихся мероприятий стал концерт в Москве, где Орлова представила программу, посвященную героям войны, и сбор средств превзошел все ожидания. Деятельность Орловой не только помогала армии, но и укрепляла дух всего народа, вдохновляя их на борьбу за страну и будущее.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="victory_story">
            <div class="row">
              <div class="col-12">
                <div class="story_title">
                  <h4>Ольга Берггольц</h4>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="story_text">
                  <p>В рамках рубрики #80летПобеды делимся историями благотворительности во время Великой Отечественной войны, и одной из ярких фигуры этого движения стала Ольга Бергольц. Кроме своей поэтической деятельности, она активно занималась благотворительностью во время блокады Ленинграда. Бергольц не просто была свидетелем ужасов осады, она старалась помочь тем, кто страдал от голода и лишений.</p>
                  <p>Поэтесса работала на различных благотворительных акциях; собирала средства на помощь больным и нуждающимся, организовывала поддержку для эвакуированных и раненных солдат. Её творчество стало мощным инструментом для поднятия морального духа, а также привлекало внимание к трагедиям и страданиям, с которыми сталкивались жители города. </p>
                  <p>Бергольц активно использовала свои возможности, чтобы поддерживать культурные инициативы, направленные на облегчение тяжёлых условий жизни. Она участвовала в организации концертов и мероприятий, что позволяло собрать средства на помощь людям, находившимся в бедственном положении. Благодаря своим усилиям она проявила не только литературный, но и социальный активизм.</p>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="story_img">
                  <img src="/img/victory/berggolz.jpg" alt="">
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="victory_story">
            <div class="row">
              <div class="col-12">
                <div class="story_title">
                  <h4>Кукрыниксы</h4>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="story_img">
                  <img src="/img/victory/kukri.jpg" alt="">
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="story_text">
                  <p>В 1942 году Сталинскую премию 1-й степени получили Михаил Куприянов, Николай Соколов и Порфирий Крылов — знаменитые карикатуристы Кукрыниксы. Художники решили купить для действующей армии тяжелый танк КВ-1. Но он обходился бюджету страны в 295 000 рублей. К 100 000 рублей, полученных карикатуристами, добавили личные средства литераторы Сергей Михалков, Самуил Маршак, Виктор Гусев и Николай Тихонов. Танку дали имя «Беспощадный». Поэты написали на броне напутствие: </p>
                  <p>Штурмовой огонь веди, Наш тяжелый танк, В тыл фашисту заходи, Бей его во фланг. Экипаж бесстрашный твой, Не смыкая глаз, Выполняет боевой Сталинский приказ. </p>
                  <p>Кукрыниксы присовокупили карикатуру: Гитлера, разорванного на части попаданием снаряда. «Беспощадный» в 1943-м был подбит в бою. Художники и поэты оплатили ремонт, и танк в составе 23-й отдельной гвардейской танковой бригады дошел до Победы.</p>
                  <p>
                    Недавно данному танку открыли памятник в Острогожском районе Воронежской области у села Ездочное. На постамент поставили настоящий танк. Правда, не КВ-1, а ИС-3, который на КВ совсем даже не похож, хоть на нем и сделали надписи, по мотивам знаменитого танка. Но важен уже сам факт того, что знаменитый танк решили увековечить, хоть и не совсем в реальном виде.
                  </p>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

</Layout>

<style>
  .victory {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .victory .victory_content {
    padding: 15px;
		background: #ffffff;
    border-radius: 9px;
    box-shadow: 2px 4px 8px #223c5033;
  }

  .victory .victory_content .victory_story {
    margin-bottom: 50px;
  }

.victory .victory_content .victory_story .story_title {

}

.victory .victory_content .victory_story .story_title h4{ 
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: #285347;
  margin-bottom: 20px;
  text-align: center;
}

  .victory .victory_content .victory_story .story_img {
    width: 100%;
		height: auto;
		overflow: hidden;
		border-radius: 9px;	
  }

  .victory .victory_content .victory_story .story_img img{
    width: 100%;
		height: 100%;
		object-fit: cover;
  }

  .victory .victory_content .victory_story .story_text p{
    font-size: 16px;
    color: #000000;
    line-height: 150%;
    text-align: left;
}
</style>