---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---


<Layout title="О фонде" description="О фонде">
  <main>
    <section class="about">
      <div class="container">
        <div class="row">
          <div class="col-12">
						<div class="breadcrumbs">
							<ul>
								<li><a href="/">Главная</a></li>
								<li><a class="active" href="/o-fonde">О Фонде</a></li>
							</ul>
						</div>
					</div>
          <div class="col-12">
            <div class="title">
              <h1>О фонде</h1>
            </div>
            
          </div>
          <div class="about_description">
            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="about_img">
                  <img src="/img/about/about-fond.jpg" alt="">
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="about_description_text">
                  <p>
                    «Дело Чести» – благотворительный фонд, основанный ветеранами Специальной Военной Операции. Его создатели – обычные солдаты, которые побывали на передовой и ценой собственной жизни защищали интересы Родины. 
                  </p>
                  <p>
                    Тот, кто знает ситуацию изнутри, не может оставаться безучастным к потребностям людей, самоотверженно рискующих собой во благо нашей страны. Именно поэтому благотворительный фонд «Дело Чести» считает своим долгом оказывать поддержку бойцам СВО, а также тем, кто пострадал в результате военных действий на территории Российской Федерации, в том числе ДНР и ЛНР. 
                  </p>
                 
                </div>
              </div>
              <div class="col-12">
                <div class="about_description_text">
                  <p>
                    Наша цель – делами, а не словами доказать, что сила русского народа – в его единстве. Протянуть руку помощи тем, что самоотверженно защищает население нашей великой, сплочённой и непобедимой страны.  
                  </p>
                  <p>
                    Благотворительный фонд «Дело Чести» осуществляет помощь в следующих направлениях: 
                  </p>
                  <ul>
                    <li>
                      гуманитарная помощь военнослужащим, находящимся в зоне СВО – продукты питания, не медикаментозные аптечки, вещи первой необходимости и т.д. 
                    </li>
                    <li>
                      персональная поддержка бойцов – одежда, обувь, амуниция, в том числе по индивидуальным запросам
                    </li>
                    <li>
                      помощь в приобретении технического оборудования (дроны, роботизированая техника, радиоэлектронное оборудование и проч), автотранспорта и прочего  оборудования 
                    </li>
                    <li>
                      благотворительная помощь семьям погибших и тяжело раненных участников СВО
                    </li>
                    <li>
                      реабилитация участников СВО – медицинские и социальные программы
                    </li>
                    <li>
                      социальные проекты, направленные на патриотическое воспитание молодёжи
                    </li>
                  </ul>
                  <p>
                    В ходе работы мы осуществляем поддержку отечественных производителей. Постоянно ведём поиск новых производств и частных предпринимателей. Производственные цепочки товаров, приобретаемых для бойцов СВО, представляют систему замкнутого внутрироссийского цикла. Загружая мощности этих цепочек заказами, мы добиваемся синергетического эффекта укрепления экономики государства в условиях санкционного давления. Кроме того, оказываем посильную поддержку малому, особенно аграрному, бизнесу.  
                  </p>
                  <p>
                    Находясь в зоне СВО, мы твёрдо знаем, в чём именно остро нуждаются наши бойцы. Мы находимся в тесной связи с отрядами Министерства обороны, ЧВК, добровольческих корпусов. Именно поэтому с уверенностью можем сказать, что, поддерживая в это непростое время наши программы, вы приближаете Победу. Это наше – и Ваше – Дело Чести. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </section>
    <section class="activities">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title">
              <h2>Наши направления</h2>
            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-6 col-lg-4">
            <div class="activities_item">
              <span><strong>Организация и
                содействие</strong> волонтерской
                деятельности в зоне СВО</span>
            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-6 col-lg-4">
            <div class="activities_item">
              <span><strong>Оказание мер социальной 
                поддержки</strong> жителям
                освобожденных территорий СВО</span>
            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-6 col-lg-4">
            <div class="activities_item">
              <span><strong>Поддержка</strong> общественно значимых
                молодежных инициатив, проектов
                детского и молодежного движения</span>
            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-6 col-lg-4">
            <div class="activities_item">
              <span><strong>Содействие медицинским
                организациям</strong> и центрам 
                реабилитации участников
                специальных военных операций</span>
            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-6 col-lg-4">
            <div class="activities_item">
              <span><strong>Материально-техническая поддержка</strong> 
                участников отрядов, выполняющих
                боевые задачи в зоне СВО</span>
            </div>
          </div>
          <div class="col-12  col-sm-12 col-md-6 col-lg-4">
            <div class="activities_item">
              <span><strong>Благотворительность </strong>в сфере
                образования, науки, культуры,
                искусства, просвещения и
                патриотического воспитания
              </span>
              <img src="/icons/charity.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="mixed">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="aim">
             <div class="heading">
              <h3>Цель</h3>
              <div class="icon">
                <img src="/icons/goal.svg" alt="">
              </div>
              
             </div>
             <div class="description">
              <p>Оказать всестороннюю помощь участникам СВО и
                жителям освобожденных территорий, а также
                консолидировать работу российских предпринимателей,
                направленную на производство и реализацию
                продукции необходимой в зоне боевых действий.</p>
            </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="mission">
             
              <div class="heading">
                <h3>Миссия</h3>
                <div class="icon">
                  <img src="/icons/mission1.svg" alt="">
                </div>
                
               </div>
               <div class="description">
                <p>
                  Дело чести — благотворительный фонд,
основной миссией которого является оказание
помощи действующим бойцам СВО, мирным
жителям освобожденных территорий, раненым
и нуждающимся в реабилитации военным. 
                </p>
               </div>
            </div>
          </div>
          <div class="col-12">
            <div class="values_title">
              <h3>Ценности</h3>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="values">
                    <div class="values_heading">
                      <div class="icon">
                        <img src="/icons/professionalism.svg" alt="">
                      </div>
                      <h4>Профессионализм</h4>
                    </div>
                    <div class="values_description">
                      <p>
                        Мы - команда, обладающая
необходимыми знаниями и опытом,
привлекающей к сотрудничеству
благотворителей, производственников
и профильных экспертов
                      </p>
                    </div>
                  </div>
              </div>

              <div class="col-12 col-md-6 col-lg-3">
                <div class="values">
                  <div class="values_heading">
                    <div class="icon">
                      <img src="/icons/transparency.svg" alt="">
                    </div>
                    <h4>Прозрачность</h4>
                  </div>
                  <div class="values_description">
                    <p>
                      Мы создали все условия для
предоставления доступной
информации о деятельности
фонда и её отчетности
                    </p>
                  </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
              <div class="values">
                <div class="values_heading">
                  <div class="icon" >
                    <img style="position: absolute; top: 10px; left: 0%" src="/icons/openness.svg" alt="">
                  </div>
                  <h4>Открытость</h4>
                </div>
                <div class="values_description">
                  <p>
                    Мы открыты партнерству
в интересах
благополучия фонда
                  </p>
                </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="values">
              <div class="values_heading">
                <div class="icon">
                  <img src="/icons/responsibility.svg" alt="">
                </div>
                <h4>Ответственность</h4>
              </div>
              <div class="values_description">
                <p>
                  Мы работаем в интересах
благополучателей, в рамках
программ фонда, планируя свою
деятельность и оценивая результаты
                </p>
              </div>
            </div>
        </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
</Layout>

<style>
  .about {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .about_img {
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .about_img img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .about_description {
    box-shadow: 2px 4px 8px #223c5033;
    border-radius: 9px;
    padding: 25px;
  }

  .about_description_text p {
    font-size: 18px;
    color: #666a6d;
    line-height: 26px;
    text-align: left;
    margin-bottom: 20px;
  }

  .about_description_text ul {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
  }

  .about_description_text ul li {
    font-size: 18px;
    padding-left: 25px;
    color: #666a6d;
    position: relative;
    width: 100%;
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
  }

  .about_description_text ul li::before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    color: #AE2E42;
    background-image: url(/icons/chevron-right.svg);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    text-align: left;
  }

  .activities {
    margin-bottom: 50px;  
  }

  .activities .activities_item {
    
    height: 230px;
    text-align: left;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color:  #ffffff;
    border-radius: 24px;
    box-shadow: 2px 4px 8px #223c5033;
    padding: 25px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }

  .activities .activities_item img {
    opacity: 0.12;
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100px;
    height: 100px;
  }

  .activities .activities_item span{
    font-size: 22px;
    font-weight: normal;
    color: #000000;
  }

  .activities .activities_item span strong{
    font-size: 22px;
    font-weight: 700;
    /* color: #285347; */
    color: #AE2E42;
  }

  .mixed {}

  .mixed .aim{
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .mixed .aim .heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .mixed .aim .heading h3{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    text-align: left;
  }

  .mixed .aim .heading .icon{
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }

  .mixed .aim .heading .icon img{
    width: 100%;
    height: auto;
  }


  .mixed .mission{
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .mixed .mission .heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .mixed .mission .heading h3{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    text-align: left;
  }

  .mixed .mission .heading .icon{
    width: 60px;
    height: 60px;
    margin-right: 30px;
  }

  .mixed .mission .heading .icon img{
    width: 100%;
    height: auto;
  }

  .values_title {
    text-align: center;
  }

  .values_title h3 {
    font-size: 50px;
    color: #000000;
    font-weight: 700;
  }

  .mixed .values{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .mixed .values .values_heading{
    border-bottom: 2px solid #AE2E42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mixed .values .values_heading h4{
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;

    text-align: center;
  }

  .mixed .values .values_heading .icon{
    width: 90px;
    height: 90px;
    position: relative;
  }

  .mixed .values .values_heading .icon img{
    width: 100%;
    height: auto;
    
  }

  .mixed .values .values_description p{
    font-size: 16px;
    color: #000000;
    text-align: center;
  }

  .mixed .values .values_description{
    margin-top: 10px;
  }


  .structure {
    /* background-color: #AE2E42; */
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .structure .structure_title {
    width: 100%;
    text-align: center;
  }

  .structure .structure_title h3{
    font-size: 40px;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
  }


  .structure .employee {
    border-radius: 9px;
    box-shadow: 2px 4px 8px #223c5033;
    padding: 20px 10px;
    margin-bottom: 30px;
  }

  .structure .employee:hover {
    filter: drop-shadow(0 0 2em #285347);
  }

  .structure .employee .employee_name{
    font-size: 24px;
    color: #285347;
    text-align: center;
    
    font-weight: 700;
  }

  .structure .employee .employee_post{
    font-size: 16px;
    color: #285347;
    text-align: center;
   
  }

  @media screen and (max-width: 768px) {
    .activities .activities_item {
      height: auto;
    }
  }
</style>