---
import EmptyLayout from "../layouts/EmptyLayout.astro";
export const prerender = true;
---

<EmptyLayout title="" description="">
  <main>
    <section class="oferta">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumbs">
              <ul>
                <li><a href="/">Главная</a></li>
                <li><a class="active" href="/oferta">Оферта</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <div class="oferta_text">
              <h1>Публичная оферта
                о заключении договора благотворительного пожертвования
                 </h1>
                 <ul>
                  <li><strong></strong></li>
                 </ul>
                 <h4>Общие положения</h4>
                 <ul>
                  <li><strong>1.1. </strong>
                    Настоящая публичная оферта (далее - «Оферта»), является предложением Благотворительного Фонда «Дело Чести» (БФ «Дело Чести»), ИНН  9310014578, ОГРН 1249300011400, в лице Директора Янковского Петра Владимировича, действующего на основании Устава (далее – «Благополучатель», «Фонд»), заключить на указанных ниже условиях договор благотворительного пожертвования (далее «Договор») с любым физическим или юридическим лицом, индивидуальным предпринимателем, отозвавшимся на такое предложение (далее – «Благотворитель»).
                  </li>
                  <li><strong>1.2.</strong>
                    Благополучатель является некоммерческой благотворительной организацией,  созданной в форме фонда, действующей на основании Устава, утвержденного Протоколом № 1 от 05.05.2024г. (далее - Устав), и в соответствии с Федеральным законом «О благотворительной деятельности и добровольчестве (волонтерстве)» от 11.08.1995г. № 135-ФЗ, обладает необходимыми правами для получения пожертвования в целях осуществления своей уставной деятельности. 
                  </li>
                  <li><strong>1.3.</strong>
                    Данное предложение является публичной офертой в соответствии с п. 2 ст. 437 ГК РФ. Акцепт   Оферты   Благотворителем равносилен заключению Договора на условиях, изложенных в Оферте.
                  </li>
                  <li><strong>1.4.</strong>
                    Оферта вступает в силу со дня, следующего за днем ее размещения на сайте Фонда по адресу: <a href="https://делочести.рф/">https://делочести.рф/</a>.
                  </li>
                  <li><strong>1.5.</strong>
                    Оферта является бессрочной и действует до дня, следующего за днем размещения в социальных сетях извещения об отмене Оферты. Благополучатель вправе отменить Оферту в любое время без разъяснения причин. Акцепт Оферты после даты отзыва Оферты не допускается.
                  </li>
                  <li><strong>1.6.</strong>
                    Текст Оферты может быть изменен или дополнен Благополучателем без предварительного уведомления, новая редакция Оферты действует со дня, следующего а днем ее размещения в социальных сетях.
                  </li>
                  <li><strong>1.7.</strong>
                    Недействительность одного или нескольких условий Оферты не влечет недействительность всех остальных ее условий.
                  </li>
                 </ul>
                 <h4>Предмет договора</h4>
                 <ul>
                  <li><strong>2.1.</strong>
                    Благотворитель добровольно и безвозмездно в качестве благотворительного пожертвования любым удобным для него способом передает Благополучателю денежные средства в размере, определяемом Благотворителем (далее — «Пожертвование»), а Благополучатель принимает Пожертвование и обязуется его использовать на достижение целей, предусмотренных Уставом Фонда, в том числе реализацию благотворительных проектов и программ Фонда. Факт передачи Пожертвования свидетельствует о полном согласии Благотворителя с условиями настоящего Договора.
                  </li>
                  <li><strong>2.2.</strong> Осуществление Благотворителем действий по настоящему Договору признается Пожертвованием в соответствии со ст. 582 ГК РФ.</li>
                  <li><strong>2.3.</strong> Благотворитель подтверждает, что передаваемое Благополучателю Пожертвование принадлежит Благотворителю на праве собственности, правами третьих лиц не обременено, и безвозмездная передача Благотворителем Благополучателю указанного Пожертвования не нарушает права третьих лиц и нормы действующего законодательства Российской Федерации.</li>
                  <li><strong>2.4.</strong> Благотворитель подтверждает, что вправе самостоятельно осуществить Пожертвование или получил необходимые согласия и разрешения для осуществления Пожертвования. Стороны настоящим подтверждают, что им не известно о каких-либо обстоятельствах или требованиях, препятствующих передаче Пожертвования Благополучателю.</li>
                  <li><strong>2.5.</strong> Договор является договором присоединения (ст. 428 ГК РФ). Условия Договора принимаются Благотворителем путем присоединения к настоящему договору в целом. При этом Благотворитель подтверждает, полное согласие с условиями Договора и что Договор не содержит обременительных для него условий, которые он не принял бы при наличии у него возможности участвовать в определении условий настоящего Договора.</li>
                 </ul>
                 <h4>3. Порядок передачи Пожертвования</h4>
                 <ul>
                  <li><strong>3.1.</strong> Благотворитель самостоятельно определяет размер Пожертвования и передает его Благополучателю любым удобным для себя способом, указанным на сайте Фонда <a href="https://делочести.рф/">https://делочести.рф/</a> — путем оплаты платежного поручения по реквизитам Благополучателя, указанным в разделе 6 настоящей Оферты, либо с использованием пластиковых (банковских) карт, платежных терминалов, систем электронных платежей и других средств, позволяющих Благотворителю сделать Пожертвование.</li>
                  <li><strong>3.2.</strong> При перечислении Пожертвования для правильной идентификации плательщика Благотворитель указывает свои контактные данные: адрес электронной почты и/или телефонный номер.</li>
                  <li><strong>3.3.</strong> Если выбранный Благотворителем способ передачи Пожертвования не позволяет указать назначение платежа, Благотворитель имеет право уточнить цели Пожертвования другим письменным способом.</li>
                  <li><strong>3.4.</strong> Совершение Благотворителем действий, предусмотренных пунктом 4.1. Оферты, считается акцептом Оферты в соответствии с п. 3 ст. 438 ГК РФ.</li>
                  <li><strong>3.5.</strong> Акцепт Оферты Благотворителем означает, что последний, полностью дееспособное физическое лицо, индивидуальный предприниматель или юридическое лицо, ознакомился и согласен со всеми условиями настоящей Оферты.</li>
                  <li><strong>3.6.</strong> Датой акцепта Оферты и, соответственно, датой заключения Договора является дата поступления денежных средств Благотворителя на расчетный счет Благополучателя, либо, в соответствующих случаях, на счет Благополучателя в платежной системе.</li>
                  <li><strong>3.7.</strong> Местом заключения Договора считается город Мариуполь Российской Федерации. В соответствии с п. 3 ст. 434 ГК РФ Договор считается заключенным в письменной форме.</li>
                  <li><strong>3.8.</strong> Условия Оферты определяются в редакции (с учетом изменений и дополнений), действующей на день осуществления перевода Благотворителем денежных средств в качестве Пожертвования.</li>
                  <li><strong>3.9.</strong> Фонд выражает готовность заключать договоры пожертвования в ином порядке и (или) на иных условиях, нежели это предусмотрено Офертой, для чего любое заинтересованное лицо вправе обратиться для заключения соответствующего договора в Фонд. В этом случае значение и применение Оферты определяется условиями заключенных договоров.</li>
                  <li><strong>3.10.</strong> Принимая условия настоящей Оферты, Благотворитель подтверждает добровольный и безвозмездный характер пожертвования и свидетельствует об отсутствии какого-либо принуждения и/или обременения.</li>
                 </ul>
                 <h4>4. Права и обязанности сторон</h4>
                 <ul>
                  <li><strong>4.1.</strong> Благополучатель обязуется использовать полученные от Благотворителя по настоящему Договору денежные средства строго в соответствии с действующим законодательством Российской Федерацией и в рамках своей уставной деятельности.</li>
                  <li><strong>4.2.</strong> Благотворитель имеет право по своему усмотрению выбрать цель Пожертвования, указав соответствующее «Назначение платежа» при переводе Пожертвования. Актуальный список целей Пожертвования публикуется на официальной странице Фонда в сети Интернет.</li>
                  <li><strong>4.3.</strong> Пожертвования без указания конкретного назначения, в соответствии с Федеральным законом «О благотворительной деятельности и добровольчестве (волонтерстве)» от 11.08.1995 г. № 135-ФЗ, направляются Благополучателем на достижение целей, предусмотренных Уставом Фонда, в том числе реализацию благотворительных проектов и программ Фонда.</li>
                  <li><strong>4.4.</strong> Полученное от Благотворителя Пожертвование, частично или полностью не израсходованное согласно назначению Пожертвования, указанному Благотворителем в платежном поручении, по причине закрытия потребности, Благотворителю не возвращается, а перераспределяется Благополучателем самостоятельно на другие актуальные цели в соответствии с уставной деятельностью Фонда.</li>
                  <li><strong>4.5.</strong> Осуществляя Пожертвование, Благотворитель соглашается с тем, что в соответствии с Федеральным законом «О благотворительной деятельности и добровольчестве (волонтерстве)» от 11.08.1995 г. № 135-ФЗ, Благополучатель имеет право использовать часть полученных средств для финансирования административных расходов. Максимальная сумма средств, использованных для административных расходов Благополучателя, не может превышать 20 (двадцать) процентов от суммы, израсходованной за фискальный период.</li>
                  <li><strong>4.6.</strong> Благотворитель, действуя по своей доброй воле, по собственной инициативе и в своем интересе, дает Благополучателю согласие на обработку предоставленных Благотворителем при осуществлении добровольного Пожертвования персональных данных (фамилия, имя, отчество, место жительства, данные паспорта или иного документа, удостоверяющего личность, адрес электронной почты, номер мобильного телефона, сведения о банковских счетах и реквизитах, данные банковских платежных карт, выпущенных к банковским счетам Благотворителя, используемым для осуществления Пожертвований в пользу Благополучателя, иные данные — для физических лиц; наименование, местонахождение, сумма пожертвования, иные данные — для юридических лиц), в том числе третьим лицам (на основании договора с Благополучателем), для целей исполнения настоящего Договора, включая следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных. Во всех остальных случаях Благополучатель обязуется не раскрывать третьим лицам личную информацию Благотворителя без его письменного согласия. Исключением являются требования данной информации государственными органами, имеющими полномочия требовать такую информацию. Согласие на обработку персональных данных действует без ограничения срока. Такое согласие может быть отозвано Благотворителем в любое время путем направления Благополучателю письменного обращения посредством электронной почты на электронный адрес Благополучателя BF@DCHESTI.RU с пометкой «Отзыв согласия на обработку персональных данных».</li>
                  <li><strong>4.7.</strong> Благотворитель имеет право на получение информации об использовании его Пожертвования путем доступа к информации, размещенной на сайте Фонда <a href="https://делочести.рф/">https://делочести.рф/</a> и включающей в себя: информацию о суммах пожертвований, полученных Благополучателем, с указанием имени и первой буквы фамилии Благотворителя, наименования организации или части номера телефона Благотворителя. Благотворитель имеет право просить Благополучателя указать на сайте его Пожертвование как анонимное, в этом случае он направляет Благополучателю письменное обращение. По запросу Благотворителя Благополучатель подтверждает целевое использование полученных Пожертвований соответствующими документами бухгалтерского учета. Документы, на основании которых принимаются решения об оказании адресной помощи, находятся на хранении в Фонде и могут быть предъявлены Благотворителю в рамках действия Федерального закона «О персональных данных» от 27.07.2006 г. № 152-ФЗ.</li>
                  <li><strong>4.8.</strong> Благотворитель подтверждает, что вправе самостоятельно осуществить Пожертвование или получил необходимые согласия и разрешения для осуществления Пожертвования. Стороны настоящим подтверждают, что им неизвестно о каких-либо обстоятельствах или требованиях, препятствующих передаче Пожертвования Благополучателю.</li>
                  <li><strong>4.9.</strong> Благополучатель не несет перед Благотворителем иных обязательств, кроме обязательств, указанных в настоящем Договоре.</li>
                  <li><strong>4.10.</strong> Фонд публикует информацию о своей работе и отчеты о результатах деятельности на сайте: <a href="https://делочести.рф/">https://делочести.рф/</a>.</li>
                 </ul>
                 <h4>5. Заключительные положения.</h4>
                 <ul>
                  <li><strong>5.1.</strong>Настоящая Оферта и Договор регулируются и подлежат толкованию в соответствии с законодательством Российской Федерации.</li>
                  <li><strong>5.2.</strong>Все разногласия и споры, возникающие между Сторонами в связи или вследствие настоящей Оферты и / или Договора, разрешаются путем переговоров.</li>
                  <li><strong>5.3.</strong>В случае невозможности разрешения имеющихся разногласий, споров или требований, возникших из настоящей Оферты и/или Договора или в связи с ними, в том числе касающиеся их исполнения, нарушения, прекращения или недействительности, они подлежат разрешению в суде общей юрисдикции по месту нахождения Фонда.</li>
                 </ul>
                 <h4>6. Реквизиты</h4>
                 <p>Благотворительный фонд «Дело Чести» (БФ «Дело Чести»)</p>
                 <p>Юридический и почтовый адрес: 125040, город Мариуполь, улица Краснофлотская, д.196, оф.1</p>
                 <p>ИНН: 9310014578</p>
                 <p>КПП: 931001001</p>
                 <p>ОГРН: 1249300011400</p>
                 <p>Номер счета получателя платежа: 00000000000000</p>
                 <p>Номер корр. счета банка получателя платежа: 30101810400000000555</p>
                 <p>Наименование банка получателя платежа: ПAO </p>
                 <p>Официальная страница Фонда в сети Интернет: <a href="https://делочести.рф/">https://делочести.рф/</a>.</p>
                 <p>Директор БФ «Дело Чести» П.В. Янковский</p>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </main>
</EmptyLayout>

<style>
.oferta {
  margin-top: 100px;
  
text-align: center;
}
.oferta h1 {
  font-size: 30px;
  color: #4A4A4A;
  text-align: center;
}

.oferta .oferta_text {
  border-radius: 9px;
  background: #ffffff;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 2px 4px 8px #223c5033;
}

.oferta .oferta_text ul {
  list-style: none;
  text-align: left;
}

.oferta .oferta_text ol li {
  position: relative;

}
.oferta .oferta_text ol li strong{
position: absolute;
left: 0;
top: 0;
}
.oferta .oferta_text  p {
  text-align: left;
}
</style>