---
import Layout from "../layouts/Layout.astro";

---




<Layout title="Политика обработки персональных данных" description="Политика обработки персональных данных">
  <main>
    <section class="personal_data">
      <div class="container">
        <div class="row">
          <div class="col-12">
						<div class="breadcrumbs">
							<ul>
								<li><a href="/">Главная</a></li>
								<li><a class="active" href="/personalniye-dannie">Политика обработки персональных данных</a></li>
							</ul>
						</div>
					</div>
          <div class="col-12">
            <div class="personal_data_policy">
              <h1>Политика в отношении обработки персональных данных</h1>
              <h4>1. Общие положения.</h4>
              <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Конституции РФ, Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных», иных законодательных и нормативных актов в сфере персональных данных и определяет порядок обработки персональных данных, меры по обеспечению безопасности персональных данных в Благотворительном фонде «Дело Чести» (далее – Оператор, Фонд).</p>
              <ul>
                <li><strong>1.1.</strong> Фонд ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</li>
                <li><strong>1.2.</strong> Настоящая политика Фонда в отношении обработки персональных данных (далее – Политика) применяется к информации, которую Фонд получает и может получить о волонтерах, контрагентах, благополучателях, жертвователях, посетителях веб-сайта <a href="http://делочести.рф/">http://делочести.рф.ru/</a>  и других сайтов фонда. Настоящая Политика не распространяется на персональные данные работников Фонда.</li>
              </ul>
              <h4>2. Основные понятия, используемые в Политике.</h4>
              <ul>
                <li><strong>2.1.</strong> Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;</li>
                <li><strong>2.2.</strong> Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);</li>
                <li><strong>2.3.</strong> Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу <a href="http://делочести.рф/">http://делочести.рф.ru/</a> и другим адресам, определенных Фондом;</li>
                <li><strong>2.4.</strong> Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку с помощью информационных технологий и технических средств; </li>
                <li><strong>2.5.</strong> Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;</li>
                <li><strong>2.6.</strong> Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;</li>
                <li><strong>2.7.</strong> Оператор – Благотворительный фонд «Дело Чести» (Фонд) - юридическое лицо, самостоятельно или совместно с другими лицами организующее и (или) осуществляющее обработку персональных данных, а также определяющее цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;</li>
                <li><strong>2.8.</strong> Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу – волонтеру, контрагенту, благополучателю, жертвователю, посетителю веб-сайтов Фонда далее – Субъект ПД, Пользователь);</li>
                <li><strong>2.9.</strong> Пользователь - Субъект ПД – волонтер Фонда, контрагент Фонда, благополучатель, жертвователь, посетитель веб-сайтов Фонда;</li>
                <li><strong>2.10.</strong> Предоставление персональных данных – действия Субъекта ПД, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;</li>
                <li><strong>2.11.</strong> Персональные данные, разрешенные субъектом персональных данных для распространения, - персональные данные, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных путем дачи согласия на обработку персональных данных, разрешенных субъектом персональных данных для распространения в порядке, предусмотренном настоящим Федеральным законом;</li>
                <li><strong>2.12.</strong> Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;
                </li>
                <li><strong>2.13.</strong> Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;</li>
                <li><strong>2.14.</strong> Уничтожение персональных данных – действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.</li>
              </ul>
              <h4>3. Оператор может обрабатывать следующие персональные данные Пользователя.</h4>
              <ul>
                <li><strong>3.1.</strong> Фамилия, имя, отчество;</li>
                <li><strong>3.2.</strong> Электронный адрес; </li>
                <li><strong>3.3.</strong> Номера телефонов;</li>
                <li><strong>3.4.</strong> Год, месяц, дата и место рождения;</li>
                <li><strong>3.5.</strong> Пол;</li>
                <li><strong>3.6.</strong> Гражданство;</li>
                <li><strong>3.7.</strong> Реквизиты документа, удостоверяющего личность;</li>
                <li><strong>3.8.</strong> ИНН, реквизиты Свидетельства;</li>
                <li><strong>3.9.</strong> СНИЛС;</li>
                <li><strong>3.10.</strong> Номер свидетельства обязательного пенсионного страхования, дата регистрации в системе обязательного пенсионного страхования;</li>
                <li><strong>3.11.</strong> Номер полиса обязательного медицинского страхования;</li>
                <li><strong>3.12.</strong> Адрес фактического места проживания и регистрации по месту жительства и (или) по месту пребывания;</li>
                <li><strong>3.13.</strong> Сведения об образовании, профессии, специальности и квалификации, реквизиты документов об образовании и трудовом стаже;</li>
                <li><strong>3.14.</strong> Сведения о семейном положении и составе семьи;</li>
                <li><strong>3.15.</strong> Сведения об имущественном положении;</li>
                <li><strong>3.16.</strong> Сведения о доходах;</li>
                <li><strong>3.17.</strong> Сведения о трудовом стаже, воинской обязанности, воинском учете;</li>
                <li><strong>3.18.</strong> Сведения о состоянии здоровья: медицинская выписка, сведения о диагнозе, результаты исследований, назначения препаратов (рецепты) и иные документы, подтверждающие сведения о состоянии здоровья;
                </li>
                <li><strong>3.19.</strong> Фото и видео материалы;</li>
                <li><strong>3.20.</strong> На сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
                  Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
                  </li>
              </ul>
              <h4>4. Цели обработки персональных данных.</h4>
              <ul>
                <li><strong>4.1.</strong>Фонд осуществляет обработку персональных данных Пользователей с целью:<br/>
                  - обеспечения соблюдения законов и иных нормативных правовых актов;
                  <br/>
                  - обеспечения заключения, исполнения и контроля исполнения обязательств по договорам;
                  <br/>
                  - содействия в лечении и реабилитации подопечных Фонда, оказания благотворительной помощи;
                  <br/>
                  - заключения и регулирования гражданско-правовых отношений и иных непосредственно связанных с ними отношений;
                  <br/>
                  - обеспечения личной безопасности, жизни и здоровья Пользователей;
                  <br/>
                  - обеспечения исполнения миссии и функции Фонда;
                  <br/>
                  - контроля количества и качества выполняемых обязательств;
                  <br/>
                  - обеспечения сохранности имущества Пользователей и Фонда;
                  <br/>
                  - исчисления и уплаты предусмотренных законодательством РФ налогов, сборов и взносов на обязательное социальное и пенсионное страхование, иных обязательных платежей;
                  <br/>
                  - представления Оператором установленной законодательством отчетности в отношении физических лиц;
                  <br/>
                  - предоставления налоговых вычетов.
                  <br/>
                  </li>
                <li><strong>4.2.</strong> Информирование Пользователя осуществляется посредством отправки электронных писем, сообщений, заключения, исполнения и прекращения гражданско-правовых договоров; предоставления доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте.</li>
                <li><strong>4.3.</strong> Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях, о событиях. Пользователь по своему усмотрению может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты BF@DCHESTI.RU с пометкой «Отказ от уведомлений о новых продуктах и услугах и специальных предложениях».</li>
                <li><strong>4.4.</strong> Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания. </li>
              </ul>
              <h4>5. Правовые основания обработки персональных данных.</h4>
              <ul>
                <li><strong>5.1.</strong> Пользователь предоставляет Оператору согласие на обработку персональных данных по установленной Оператором форме.</li>
                <li><strong>5.2.</strong> Согласие Пользователя может быть оформлено непосредственное в заключаемом с Фондом договоре, или отдельно от договора. </li>
                <li><strong>5.3.</strong> Пользователь – посетитель сайта заполняет и отправляет размещенные на сайте формы самостоятельно через <a href="http://делочести.рф/">http://делочести.рф.ru/</a>. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).</li>
              </ul>
              <h4> 6. Порядок сбора, хранения, передачи и других видов обработки персональных данных.</h4>
              <ul>
                <li><strong>6.1.</strong> Безопасность персональных данных, обрабатываемых Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</li>
                <li><strong>6.2.</strong> Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</li>
                <li><strong>6.3.</strong> В случае выявления неточностей в персональных данных, либо изменений в персональных данных, Пользователь направляет Оператору соответствующее уведомление на адрес электронной почты Оператора BF@DCHESTI.RU с пометкой «Актуализация персональных данных».</li>
                <li><strong>6.4.</strong> Срок обработки персональных данных определяется в согласии на обработку персональных данных. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора BF@DCHESTI.RU с пометкой «Отзыв согласия на обработку персональных данных».</li>
              </ul>
              <h4>7. Получение и обработка персональных данных.</h4>
              <ul>
                <li><strong>7.1.</strong> Персональные данные Оператор получает непосредственно от Пользователя. Оператор вправе получать персональные данные Пользователя от третьих лиц только при наличии соответствующего согласия Пользователя, а также в иных случаях, предусмотренных законодательством.</li>
                <li><strong>7.2.</strong> Оператор не имеет права получать и обрабатывать персональные данные Пользователя о его расовой, национальной принадлежности, политических взглядах, религиозных или философских убеждениях, интимной жизни. В случаях, непосредственно связанных с целями обработки персональных данных, получение и обработка указанных персональных данных возможна с письменного согласия Пользователя.</li>
                <li><strong>7.3.</strong> Пользователь представляет Оператору достоверные сведения о себе. Оператор проверяет достоверность сведений, сверяя данные, представленные Пользователем, с имеющимися у Пользователя документами.</li>
                <li><strong>7.4.</strong> Оператор вправе обрабатывать персональные данные Пользователей только с их письменного согласия. Чтобы обрабатывать персональные данные Пользователя, Оператор получает согласие Пользователя на обработку его персональных данных по установленной форме (Приложения к настоящей Политике). Такое согласие Оператор получает, если закон не предоставляет Оператору право обрабатывать персональные данные без согласия Пользователя.</li>
                <li><strong>7.5.</strong> Согласие на обработку персональных данных может быть отозвано Пользователем. В случае отзыва Пользователем согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия Пользователя только при наличии оснований, указанных в пунктах 2–11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона от 27.07.2006 № 152-ФЗ.</li>
              </ul>
              <h4>8. Хранение персональных данных.</h3>
              <ul>
                <li><strong>8.1.</strong> Фонд обеспечивает защиту персональных данных от неправомерного использования или утраты.</li>
                <li><strong>8.2.</strong> Персональные данные в бумажном виде хранятся в папках, в специально отведенном шкафу, обеспечивающем защиту от несанкционированного доступа.</li>
                <li><strong>8.3.</strong> Персональные данные Пользователей могут также храниться в электронном виде в локальной компьютерной сети. Доступ к электронным базам данных, содержащим персональные данные, обеспечивается двухступенчатой системой паролей: на уровне локальной компьютерной сети и на уровне баз данных. Пароли устанавливаются директором и сообщаются индивидуально работникам, имеющим доступ к персональным данным. Изменение паролей производится директором.</li>
              </ul>
              <h4>9. Использование персональных данных.</h4>
              <ul>
                <li><strong>9.1.</strong> Персональные данные, представленные Пользователем, обрабатываются автоматизированным и без использования средств автоматизации способами. Оператор принимает, снимает и хранит копии документов Пользователей в течение периода обработки персональных данных Пользователя.</li>
                <li><strong>9.2.</strong> Режим конфиденциальности персональных данных снимается в случаях их обезличивания и по истечении срока их хранения, если иное не определено законом.</li>
                <li><strong>9.3.</strong> Персональные данные уничтожаются: по достижению целей обработки персональных данных; при ликвидации или реорганизации оператора; на основании письменного обращения субъекта персональных данных с требованием о прекращении обработки его персональных данных (оператор прекратит обработку таких персональных данных в течение 3 (трех) рабочих дней.</li>
                <li><strong>9.4.</strong> Для уничтожения персональных данных Оператор создает соответствующую комиссию. В ходе проведения проверки комиссия отбирает дела с истекшими сроками хранения. После чего документы уничтожаются в шредере. Персональные данные в электронном виде стираются с информационных носителей, либо физически уничтожаются сами носители, на которых хранится информация. Комиссия составляет Акт об уничтожении персональных данных по установленной форме.</li>
              </ul>
              <h4>10. Передача и распространение персональных данных.</h4>
              <ul>
                <li><strong>10.1.</strong> При передаче персональных данных Пользователей Оператор соблюдает следующие требования:<br/>
                  - Не сообщать персональные данные третьим лицам без письменного согласия Пользователя, за исключением случаев, когда это необходимо в целях предупреждения угрозы жизни и здоровью Пользователя, а также в случаях, установленных законодательством;
                  <br/>
                  - Предупреждать лиц, получивших персональные данные, о том, что эти данные могут быть использованы лишь в целях, для которых они сообщены, и требовать от этих лиц подтверждения того, что это правило соблюдено. Лица, получившие персональные данные, обязаны соблюдать режим секретности (конфиденциальности). Настоящая Политика не распространяется на обмен персональными данными работников в порядке, установленном федеральными законами.
                  <br/>
                  </li>
                <li><strong>10.2.</strong> Осуществлять передачу персональных данных в пределах Фонда в соответствии с настоящей Политикой. </li>
                <li><strong>10.3.</strong> Разрешать доступ к персональным данным только специально уполномоченным лицам, при этом указанные лица должны иметь право получать только те персональные данные, которые необходимы для выполнения конкретной функции.</li>
                <li><strong>10.4.</strong> Передавать персональные данные в порядке, установленном законодательством Российской Федерации. </li>
                <li><strong>10.5.</strong> При передаче Оператором персональных данных Пользователь должен дать на это согласие в письменной или электронной форме. Если оформлено согласие на передачу персональных данных в электронной форме, то подписание осуществляется усиленной электронной цифровой подписью, если иное не установлено законом и настоящей Политикой.</li>
                <li><strong>10.6.</strong> Оператор вправе передать информацию, которая относится к персональным данным Пользователя, без его согласия, если такие сведения обязательны к передаче по запросу лиц и в порядке, установленном законодательством.</li>
                <li><strong>10.7.</strong> В случае если лицо, обратившееся с запросом о персональных данных не уполномочено федеральным законом на получение информации, относящейся к персональным данным, Оператор обязан запросить у Пользователя согласие на передачу указанному лицу персональных данных. В случае, если Пользователь не дал своего согласия на передачу своих персональных данных указанному лицу, Оператор вправе отказать лицу в выдаче информации.</li>
                <li><strong>10.8.</strong> Согласие на обработку персональных данных, разрешенных Пользователем для распространения, оформляется отдельно от иных согласий субъекта персональных данных на обработку его персональных данных по форме Приложения №1 к настоящей Политике. </li>
                <li><strong>10.9.</strong> Пользователь вправе определить перечень персональных данных по каждой категории персональных данных, указанной в согласии на распространение персональных данных.</li>
                <li><strong>10.10.</strong> В случае если из предоставленного Пользователем согласия на распространение персональных данных не следует, что Пользователь согласился с распространением персональных данных, такие персональные данные обрабатываются Оператором без права распространения.</li>
                <li><strong>10.11.</strong> В случае если из предоставленного Пользователем согласия на передачу персональных данных не следует, что Пользователь не установил запреты и условия на обработку персональных данных или не указал категории и перечень персональных данных, для обработки которых субъект персональных данных устанавливает условия и запреты, Оператор обрабатывает такие персональные данные без возможности распространения, предоставления доступа неограниченному кругу лиц. </li>
                <li><strong>10.12.</strong> Согласие Пользователя на распространение персональных данных может быть предоставлено Оператору:<br/>
                  - непосредственно;
                  <br/>
                  - с использованием информационной системы уполномоченного органа по защите прав субъектов персональных данных.
                  <br/> 
                  </li>
                <li><strong>10.13.</strong> В согласии на распространение персональных данных Пользователь вправе установить запреты на передачу (кроме предоставления доступа) этих персональных данных Оператором неограниченному кругу лиц, а также запреты на обработку или условия обработки (кроме получения доступа) этих персональных данных неограниченным кругом лиц. Отказ Оператора в установлении Пользователем работником данных запретов и условий не допускается.</li>
                <li><strong>10.14.</strong> При получении согласия Пользователя на распространение персональных данных Оператор обязан выполнить установленные законодательством требования в отношении условий обработки указанных персональных данных Пользователя.</li>
                <li><strong>10.15.</strong> Передача, распространение, предоставление персональных данных, разрешенных Пользователем для распространения, должна быть прекращена в любое время по его требованию. Данное требование должно включать в себя фамилию, имя, отчество (при наличии), контактную информацию (номер телефона, адрес электронной почты или почтовый адрес) Пользователя, а также перечень персональных данных, обработка которых подлежит прекращению. </li>
                <li><strong>10.16.</strong> Действие согласия Пользователя на распространение персональных данных прекращается с момента поступления Оператору требования Пользователя о прекращении согласия на распространение его персональных данных. Оператор или третье лицо обязано прекратить передачу (распространение, предоставление, доступ) персональных данных в течение трех рабочих дней с момента получения требования Пользователя.</li>
                <li><strong>10.17.</strong> Пользователь вправе обратиться с требованием прекратить передачу (распространение, предоставление, доступ) своих персональных данных, ранее разрешенных для распространения, к любому лицу, обрабатывающему его персональные данные, в случае несоблюдения положений Федерального закона от 27.07.2006 № 152-ФЗ или обратиться с таким требованием в суд. Или в срок, указанный во вступившем в законную силу решении суда. Если такой срок в решении суда не указан, то Оператор или третье лицо обязаны прекратить передачу персональных данных Пользователя в течение трех рабочих дней с момента вступления решения суда в законную силу. </li>
              </ul>
              <h4>11. Гарантии конфиденциальности персональных данных.</h4>
              <ul>
                <li><strong>11.1.</strong> Информация, относящаяся к персональным данным, является конфиденциальной и охраняется законом.</li>
                <li><strong>11.2.</strong> Пользователь вправе требовать полную информацию о своих персональных данных, об их обработке, использовании и хранении.</li>
                <li><strong>11.3.</strong> Лица, виновные в нарушении норм, регулирующих получение, обработку и защиту персональных данных, несут дисциплинарную, административную, гражданско-правовую или уголовную ответственность в соответствии с действующим законодательством РФ.</li>
              </ul>
              <h4>12. Трансграничная передача персональных данных.</h4>
              <ul>
                <li><strong>12.1.</strong> Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных, а также выполнить иные требования, установленные действующим законодательством.</li>
              </ul>
              <h4>13. Заключительные положения.</h4>
              <ul>
                <li><strong>13.1.</strong>Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты BF@DCHESTI.RU.</li>
                <li><strong>13.2.</strong>Внесение в настоящую Политику изменений и дополнений оформляется Приказом директора. Политика действует бессрочно до замены ее новой версией.</li>
                <li><strong>13.3.</strong>Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу <a href="http://делочести.рф/">http://делочести.рф.ru/</a></li>
                <li><strong>13.4.</strong>Приложение к настоящей Политике: <br/>
                  <a href="http://делочести.рф/soglasie-na-obrabotku-personalnih-dannih.pdf">Приложение № 1</a> – Согласие на обработку персональных данных (ПДН), разрешенных субъектом персональных данных для распространения;
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .personal_data{
    margin-top: 100px;
  
  text-align: center;
  }
  .personal_data .personal_data_policy h1{
    font-size: 30px;
  color: #4A4A4A;
  text-align: center;       
  }
 .personal_data .personal_data_policy {
  border-radius: 9px;
  background: #ffffff;
  padding: 25px;
  margin-bottom: 30px;
  box-shadow: 2px 4px 8px #223c5033;
 }

 .personal_data .personal_data_policy ul{
  list-style: none;
  text-align: left;
}
.personal_data .personal_data_policy ul li{

}
.personal_data .personal_data_policy ul li a{

}
.personal_data .personal_data_policy p{
  text-align: left;
}
</style>