---
import Carousel from './Carousel/Carousel'
const slides = [
{
    age: 49,
    programm: 'Благотворительная программа «Помощь СВО»*.',
    description: 'Мы объявляем сбор для 1 Добровольческого корпуса ВС РФ, бойцы которого обратились в фонд за помощью. Добровольцы проходят службу на линии боевого соприкосновения на Донецком направлении. В данный момент корпус нуждается в оборудовании и снаряжении для осуществления эффективной работы в зоне СВО.',
    p1: 'Если у вас есть возможность оказать помощь нашему Фонду и фронту для решения вопросов своевременного приобретения оборудования и снаряжения бойцов, находящихся в это непростое время в зоне СВО, существует несколько вариантов:',
    financialTitle: 'ФИНАНСОВАЯ ПОДДЕРЖКА',
    financialp1: 'Если вы готовы оказать безвозмездную помощь, то вы можете перечислить пожертвование прямо сейчас ',
    financialp2: 'Или по рекизитам фонда указав в наименовании платежа «Благотворительная помощь на сбор по заявке № 1.»',   
    requisites: [
    'Реквизиты ПСБ:',
    'Наименование банка:  Дополнительный офис «Мариупольский-20» Донецкого ф-ла ПАО «Промсвязьбанк»',
    'БИК банка: 042157106  ',
    'Расчетный счет: 40703810609300000873',
    'Корреспондентский счет:  30101810400000000555'
    ],
    informationTitle: 'ИНФОРМАЦИОННАЯ ПОДДЕРЖКА',
    informationalDescription: 'Нам очень важна помощь по распространению информации о нашем фонде, чтобы как можно больше людей, которым нужна та или иная помощь, узнали, как ее получить.',
    note: '*Программа разработана в соответствии с требованиями и положениями Конституции Российской Федерации, Гражданского кодекса Российской Федерации, Федеральных законов: «О некоммерческих организациях» № 7-ФЗ от 12.01.1996 г., «О благотворительной деятельности и благотворительных организациях» № 135-ФЗ от 11.08.1995 г., иных нормативных правовых актов Российской Федерации и Уставом БФ «Дело Чести».',
    title: 'Благотворительная программа «Помощь СВО»*.',
    imgSrc: '/img/stories/vac_1/1.png',
    shortDesc: 'Последствия тяжелой сочетанной травмы',
    needToCollect: 4665150,
    collectedSum: 5100,
    slug: 'sbor-dlya-pervogo-dobrovolcheskogo-armeyskogo-korpusa',
    formType: 'charity'
  },
  {
    age: 26,
    description: ' Наша большая страна готова помочь своим гражданам, находящимся на передовой и на освобождённых территориях. Вернуться к мирной жизни — наша главная цель, поэтому мы должны держаться вместе. Оставьте заявку на получение помощи – мы с вами свяжемся и постараемся подставить крепкое дружеское плечо.',
    location: 'г.Спасск, Пензенская обл.',
    title: 'Просить о помощи в трудной ситуации не стыдно.',
    imgSrc: '/img/stories/donate/1.jpg',
    shortDesc: 'Просить о помощи в трудной ситуации не стыдно.',
    needToCollect: 0,
    collectedSum: 0,
    slug: 'poprosit-pomoschi',
    formType: 'help'
  }
   
]
---


<section class="banner">
  {/* @ts-ignore */}
        <Carousel perView={1} slides={slides} client:load/>
</section>                                                                                                  

<style>
  .banner {
    margin-top: 94px;
    height: 700px;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  @media screen and (max-width: 576px) {
  .banner {
    height: 530px;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    height: 440px;
  }
}
@media screen and (max-width: 375px) {
  .banner {
    height: 400px;
  }
}
</style>