---

---





<div class="col-12 col-sm-6">
  <div class="breadcrumbs">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a class="active" href="/uslugi/neiropsiholog">Нейропсихолог</a></li>
    </ul>
  </div>
</div>


<style>
  breadcrumbs {
  /* padding: 15px 20px 15px 20px; */
}

.breadcrumbs ul {
  list-style: none;
 
  border-radius: 10px;
  margin-bottom: 0;
  padding: 10px;
}
.breadcrumbs ul li{
  display: inline;                                                                                                                                                  
}
.breadcrumbs ul li + li::before{
  /* padding: 10px; */
  color:#7D8597;
	font-weight: 400;
  content: '&#xEA54;'; 
  font-size: 1rem;                                                                                                                                              
}
.breadcrumbs ul li a{
  font-size: 15px;
  color: #666a6d;
  text-decoration: none;
  margin: 0px 10px;
}
.breadcrumbs ul li a.active{
  color: #38B416;
}
.breadcrumbs ul li a:hover{
  
  color: #38B416;
}
</style>