---
---


<div class="col-6   col-md-4 col-xl-4">
<div class="card">
<div class="card_explanation">Сбор средств</div>
<div class="card_media">
    <a href="">
      <img src="/1.jpg" alt="">
    </a>
  
</div>
<div class="card_main--info">
  <h5>Дмитрий Фадеев</h5>
  <span>Последствия тяжелой сочетанной травмы</span>
</div>
<div class="card_donation">
  <div class="card_donation--scale">

  </div>
  <div class="card_donation--amount"></div>
</div>
  <div class="card_actions">
    <button class="card_actions--donate">Пожертвовать</button>
    <a href="/">История</a>
  </div>
</div>
</div>

<style>
  .card {
    box-shadow: 0 14px 24px rgba(0, 0, 0, .04);
    border-radius: 9px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    padding: 15px 20px 40px;
  }
  .card .card_media {
    width: 100%;
    overflow: hidden;
  }
  .card .card_media a img{
    object-fit: cover;
    width: 100%;
    height: 270px;
  }
  .card .card_explanation {
    font-size: 20px;
    color: #285347;
    text-align: center;
    
    margin-bottom: 8px;
  }
  .card .card_main--info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .card .card_main--info h5{
    font-size: 22px;
    color: #000000;
    line-height: 25px;
    font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 15px;
  }
  .card .card_main--info span {
    font-size: 16px;
    font-weight: 700;
    color: #4A4A4A;
  }
</style>