---
---




<section class="story_banner">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="story_banner--description">
          <span>49 лет, с.Работки, Нижегородская обл.</span>
          <h2>Дмитрий <br/> Фадеев</h2>
          <div class="diagnosis">
            <strong>Диагноз:</strong>
            <br>
            Последствия тяжелой сочетанной травмы
          </div>
          <div class="description">
            Мы просим вас помочь семье Фадеевых в оплате одного курса реабилитации в реабилитационном центре &amp;quot;Янтарь&amp;quot;. Такие результаты, как у Дмитрия, встретишь нечасто. И мы бы хотели сделать все возможное, чтобы этот активный, трудолюбивый мужчина как можно скорее восстановил утраченные функции!
          </div>
          <div class="action">
            <button class="btn_donate">Пожертвовать</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="story_banner--image">
          <div class="img">
            <img src="/1.jpg" alt="">
          </div>
          
          <div class="donation">
            <span>Собрано</span>
            <span>Необходимо</span>
          </div>
          <div class="donation_outer">
            
            <div style="width: 78.313333333333%;" class="donation_inner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .story_banner {
    margin-top: 94px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(/curves.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 center;
    background-color: #F4EBE1;
  }

  .story_banner .story_banner--image {
    position: relative;
    
    
  }

  .story_banner .story_banner--image .img {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    width:100%;
    padding: 8px;
    background-color: #ffffff;
    border-radius:9px;
  }

  .story_banner .story_banner--image .img img{
    width: 100%;
    height: auto;
    object-fit:cover;
  }

  .story_banner .story_banner--image .donation {
    display: flex;
    justify-content: space-between;
  }

  .story_banner .story_banner--image .donation_outer {
    background: #333F48A3;
    height: 8px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .story_banner .story_banner--image .donation_inner {
    background: #ffa857ff;
    height: 8px;
  }

  .story_banner .story_banner--description {

  }
  .story_banner .story_banner--description span{
font-size: 18px;
margin-bottom: 10px;
}
.story_banner .story_banner--description h2 {
font-size: 50px;
font-weight: 700;
}
.story_banner .story_banner--description .diagnosis{
  font-size: 18px;
  margin-bottom: 30px;
}
.story_banner .story_banner--description .description{
  font-size: 18px;
  line-height: 25px;
  padding-right: 50px;
}
.story_banner .story_banner--description .action{
margin-top: 50px;
}
.story_banner .story_banner--description .action .btn_donate{
padding: 16px 34px;
border: 2px solid #AE2E42;
background-color: transparent;
font-size: 18px;
color: #AE2E42;
transform: 0.4s ease all;
}
.story_banner .story_banner--description .action .btn_donate a{
text-decoration: none;
font-size: 18px;
color: #AE2E42;
}

.story_banner .story_banner--description .action .btn_donate:hover {
  background-color: #AE2E42;
  color: #ffffff
}
</style>